* {
    margin: 0;
    padding: 0;
    font-family: 'Google Sans', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

html,
body {
    color: #202124;
    font-size: 15px;
    margin: 0;
    min-height: 150vh;
    padding: 0;
    background-color: #f0f0f0;
}
.dark {
    background-color: #3c4043;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#placeholder {
    margin-top: 10vh !important;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#placeholder-logo {
    width: 100px;
    height: 100px;
    margin: 20px;
    opacity: 0.1;
}

#placeholder-text {
    color: #80868b;
    cursor: default;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
}

#form-container {
    background: #fff;
    border-radius: 8px;
    border: 0.5px solid #fff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 2px 6px 2px rgba(60, 64, 67, 0.149);
    margin: 32px auto 16px auto;
    max-width: 496px;
    width: 90%;
    transition-duration: 0.218s;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
}

#form {
    position: relative;
    border: none;
    margin: 1px;
    border-radius: 8px;
    transition-duration: 0.218s;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
}

.form-open {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

header {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.header-logo {
    height: 4em;
}

.header-title {
    color: #97202a;
    font-size: 2rem;
    font-weight: 100;
    padding-top: 4px;
    padding-left: 4px;
}

#notes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

#note-text {
    width: calc(100% - 10px);
    min-height: 43px;
    margin: 0 5px;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.00625em;
    border: 0;
    overflow: hidden;
    position: relative;
}

#note-title {
    display: none;
    width: calc(100% - 10px);
    min-height: 43px;
    margin: 0 5px;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    border: 0;
}

#form:focus,
input:focus {
    outline: none;
}

#placeholder {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#form-buttons {
    display: none;
    text-align: right;
}

#submit-button,
#form-close-button {
    margin: 20px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.01785714em;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 36px;
    padding: 8px 24px;
    border-radius: 4px;
    border-color: transparent !important;
    background-color: rgb(251, 251, 251);
}

#submit-button {
    color: #fff;
    background-color: #007bff;
    margin: 10px;
}

#submit-button:hover,
#form-close-button:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.note {
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 250px;
    height: max-content;
    background-color: #fff;
    border-color: #e0e0e0;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
    transition-duration: 0.218s;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
}

.note:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.note-title {
    padding-top: 12px;
    letter-spacing: 0.00625em;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 38px;
    padding: 16px 16px 0 16px;
    transition: background-color 0.218s ease-in;
    box-sizing: border-box;
    font-variant-ligatures: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-transform: capitalize;
}

.note-text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    min-height: 30px;
    letter-spacing: 0.01428571em;
    padding: 4px 16px 12px 16px;
    box-sizing: border-box;
    font-variant-ligatures: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.toolbar {
    opacity: 0.3;
    flex-direction: row-reverse;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    font-size: 15px;
    line-height: 26px;
    margin: 4px 0;
    position: relative;
    transition: opacity 0.218s ease-in-out, background-color 0.218s ease-in-out,
        box-shadow 0.218s ease-in-out;
    z-index: 1;
}

.toolbar:hover {
    opacity: 1;
}

.toolbar-color,
.toolbar-delete,
.toolbar-edit {
    width: 20px;
    height: 20px;
    margin: 0 3px;
    cursor: pointer;
    color: #202124;
}

.toolbar-color {
    position: relative;
    overflow: hidden;
    border: none;
    outline: none;
    border-radius: 50%;
}

#color-tooltip {
    border-bottom: 2px solid #fff;
    display: none;
    position: absolute;
    top: 120px;
    border: 1px solid black;
    left: 0;
    z-index: 41;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 5px 7px 3px 0;
    width: 236px;
    height: 40px;
    justify-content: space-between;
    transform-origin: top right;
}

.color-option {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #dedede;
}

.color-option:hover {
    border: 1px solid black;
}

.modal {
    position: fixed;
    top: 20%;
    left: 50%;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.modal-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
        0 4px 8px 3px rgba(60, 64, 67, 0.149);
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    min-width: fit-content;
    min-height: fit-content;
}
.modal-title {
    width: calc(100% - 10px);
    min-height: 43px;
    margin: 0 5px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.00625em;
    border: 0;
    overflow: hidden;
    position: relative;
    font-size: 1.375rem;
    line-height: 1.75rem;
    padding-bottom: 12px;
    padding-top: 16px;
}

.modal-text {
    display: block;
    position: relative;
    resize: both;
    border: none;
    width: calc(100% - 10px);
    min-height: 100px;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.00625em;
}

.buttonBox {
    margin-top: auto;
}

.modal-button {
    float: right;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    margin: 10px 3px 0 3px;
    font-size: 1.3rem;
    font-weight: 100;
    cursor: pointer;
    color: #f0f0f0;
}
.modal-button.close {
    position: relative;
    background-color: tomato;
}
.modal-button.close::before,
.modal-button.done::before {
    position: absolute;
    top: -20px;
    display: none;
    color: #fff;
    font-size: 11px;
    padding: 0 5px;
    margin-top: 5px;
    width: max-content;
    background-color: black;
    border-radius: 5px;
}
.modal-button.close::before {
    content: 'close Modal';
}
.modal-button.done::before {
    content: 'save note';
}
.modal-button.close:hover::before,
.modal-button.done:hover::before {
    display: block;
}
.modal-button.done {
    background-color: skyblue;
}

.modal-button:hover {
    transform: scale(1.2);
}

.open-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.white {
    background: white;
}

.lightcoral {
    background: lightcoral;
}

.lightseagreen {
    background: lightseagreen;
}

.mediumslateblue {
    background: mediumslateblue;
}
.lightgoldenrodyellow {
    background: lightgoldenrodyellow;
}
